.form{
    width: 70%;
    row-gap: 20px;
    font-size: medium;
    font-weight: 400;
    color: red;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    button{
        gap: 20px;
        color: white;
        font-weight: 500;
        font-size: medium;
        background-color:#1dbf73;
        text-align: center;
        font-weight: 500;
        width: 100%;
        height: 30px;
        border: none;
    }

    .input{
        gap: 10px;
    }
}